.app {
    display: flex;
    flex-direction: column;

    & .canvas {
        flex: 0 0 100vh;
    }
    & .info {
        & .top {
            display: flex;
            flex-direction: column;
            & .title {}
            & .notifications {}
        }
        & .weatherData {
        }
        & .button {
        }
    }
}